body {
}

.logo 
{
 position: center;
 align-content:center;
 /*width: 800px;
 height: 105px;
 margin-left:350px*/           
}
.menu
{   
 text-align:center;
}

.content-wrap
{
 max-width: 1500px;
 margin:auto;
}

footer 
{
 background:#00a400;
 height:50px;
 color:white;
 text-align:center;
}

p {margin-bottom:20px;}

#site-wrapper
{
 display:flex;
 flex-direction:column;
 min-height: 100vh;
}

main {flex: 1 0 auto;}